


/* Empieza normalize */

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    width: 100vw;
    font-size: 62.5%;
    overflow-x: hidden;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.main {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: $secondary;
    animation-name: main_background;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    a{ 
        color: $secondary;
        text-decoration: none;
    }

    &__titles {
        font-size: 2.7cm;
        font-weight: bold;
        text-align: center;
        padding: 7%;
        text-decoration: underline;
        margin-bottom: 1.5cm;
    }

    &__enlaces li {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-transform: capitalizes;
        &:hover {
            color: #817b7b;
            background-color: #00000036;
        }
    }
    
}

/* Animaciones */

@keyframes main_background{
    0%{background-image: linear-gradient(-45deg, #584d1a, #80621d, #8f5410, #614b03);}
    10%{background-image: linear-gradient(-9deg, #584d1a, #80621d, #8f5410, #614b03);}
    20%{background-image: linear-gradient(27deg, #584d1a, #80621d, #8f5410, #614b03);}
    30%{background-image: linear-gradient(63deg, #584d1a, #80621d, #8f5410, #614b03);}
    40%{background-image: linear-gradient(99deg, #584d1a, #80621d, #8f5410, #614b03);}
    50%{background-image: linear-gradient(135deg, #584d1a, #80621d, #8f5410, #614b03);}
    60%{background-image: linear-gradient(99deg, #584d1a, #80621d, #8f5410, #614b03);}
    70%{background-image: linear-gradient(63deg, #584d1a, #80621d, #8f5410, #614b03);}
    80%{background-image: linear-gradient(27deg, #584d1a, #80621d, #8f5410, #614b03);}
    90%{background-image: linear-gradient(-9deg, #584d1a, #80621d, #8f5410, #614b03);}
    100%{background-image: linear-gradient(-45deg, #584d1a, #80621d, #8f5410, #614b03);}  
}



/* Media queries */

@media screen and (max-width: 720px) {

    .main__titles {
        font-size: 4em;
        margin-bottom: 0.5cm;
        padding-top: 1%;
    }
}


/* Termina normalize */