/* Empieza normalize */

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    width: 100vw;
    font-size: 62.5%;
    overflow-x: hidden;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    animation: animation__body 2000ms linear 1 both;

}

.main {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: $secondary;
    animation-name: main_background;
    animation-duration: 16s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background: fixed;

    .background{
        height: 100%;
        width: 100%;
        background-image: url(../Images/Background.jpg);
        animation: background-move 100s linear infinite;
    }

    a {
        color: $secondary;
        text-decoration: none;
    }

    &__titles {
        font-size: 2.7cm;
        font-weight: bold;
        text-align: center;
        padding: 7%;
        text-decoration: underline;
        margin-bottom: 1.5cm;
    }

    &__enlaces li {
        width: auto;
        text-transform: capitalizes;
        a{
            width: auto;
            
                    &:hover {
                        color: #817b7b;
                        background-color: #00000036;
                    }
        }
    }
}

/* Animaciones */

@keyframes main_background {
    0% {
        background: linear-gradient(-45deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    10% {
        background: linear-gradient(-9deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    20% {
        background: linear-gradient(27deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    30% {
        background: linear-gradient(63deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    40% {
        background: linear-gradient(99deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    50% {
        background: linear-gradient(135deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    60% {
        background: linear-gradient(99deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    70% {
        background: linear-gradient(63deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    80% {
        background: linear-gradient(27deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    90% {
        background: linear-gradient(-9deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }

    100% {
        background: linear-gradient(-45deg,
                rgb(251, 155, 0),
                rgb(209, 133, 10),
                #a07d0c,
                #d69600);
    }
}

@keyframes background-move {
    100% {
        background-position: 3000px 0px;
    }
    
}


/* Media queries */

@media screen and (max-width: 720px) {
    .main__titles {
        font-size: 4em;
        margin-bottom: 0.5cm;
        padding-top: 1%;
    }
}

/* Termina normalize */