/* Empieza footer */

footer {
    font-size: 62.75%;
    color: $secondary;
    background-color: rgb(195, 191, 191);
    background-image: url(../Images/background__footer.png);
    padding-bottom: 0.4cm;

    h4 {
        margin-left: 40%;
    }

    h6 {
        color: $principal;
        transform: translateY(-18px);
        ;
    }

    .footer-ft {
        div {
            gap: 0.8cm;

            h6,
            i {
                font-size: 1cm;
            }
        }
    }
}

/* Termina footer */

/* Media queries */

@media screen and (max-width: 1023px) {
    footer {
        .footer-ft {
            div {
                gap: 0.4cm;

                h6,
                i {
                    font-size: 0.7cm;
                }

                h6 {
                    transform: translateY(-10px);
                }
            }
        }
    }
}


@media screen and (max-width: 575px) {
    footer {
        .footer-ft {
            div {
                gap: 0.2cm;

                h6,
                i {
                    font-size: 0.5cm;
                }

                h6 {
                    transform: translateY(-7px);
                }
            }
        }
    }
}