


/* Empieza footer */

footer{
    color: white;
    background-color: black;
    padding-bottom: 1cm;

    h4{
        margin-left: 40.5%;
    }
    
    ul li:hover{
        color: rgb(122, 123, 124);
        font-weight: bold;
    }
    img {
        width: 25px;
        transform: translateY(-5px);
    }
}
/* Termina footer */

/* Media queries */

@media screen and (max-width: 1023px) {
    footer{
        h4{
            margin-left: 37%;
        }
    }
}

@media screen and (max-width: 575px) {
    footer{
        h4{
            margin-left: 0.6%;
        }
    }
}