/* Empieza header */

header {
    font-size: 62.75%;
    background-color: $principal;

    nav {
        @include disp-flex(column, 0cm, center, center);

        a {
            text-decoration: none;
            color: rgb(122, 123, 124);

        }



        .header__logo {
            margin: auto;
            animation-duration: 0.8s;
            animation-timing-function: linear;
            animation-iteration-count: 1;

            .MB2 {
                display: none;
            }

            &:hover {
                width: 9%;

                .MB {
                    display: none;
                }

                ;

                .MB2 {
                    display: block;
                }

                ;
            }
        }

        ul {
            @include disp-flex(row, 0cm, space-evenly, center);

            .menu__animation {
                animation-iteration-count: 1;
            }

            .menu__1,
            .menu__5 {
                @extend .menu__animation;
                animation-duration: 2s;
                position: relative;
                top: -20px;
            }

            .menu__2,
            .menu__4 {
                animation-duration: 5s;
                @extend .menu__animation;
                position: relative;
                top: -5px;
            }

            .menu__3 {
                @extend .menu__animation;
                animation-duration: 6s;
            }

            label {
                color: #4d4747;
            }

            li {
                font-size: 2em;
                padding: 0.12cm;
                position: relative;

                &:hover .submenu {
                    display: block;
                    position: absolute;
                }

                .borderr {
                    position: absolute;
                    left: 0;
                    background-color: $secondary;
                    transition: transform 0.2s ease-in-out;
                }

                .borderr-top {
                    @extend .borderr;
                    width: 100%;
                    height: 4px;
                    transform: scaleX(0);
                    top: 0;
                    transform-origin: top left;
                }

                .borderr-bottom {
                    @extend .borderr;
                    width: 100%;
                    height: 4px;
                    transform: scaleX(0);
                    bottom: 0;
                    transform-origin: bottom right;
                }

                .borderr-left {
                    @extend .borderr;
                    width: 4px;
                    height: 100%;
                    transform: scaleY(0);
                    top: 0;
                    transform-origin: bottom left;
                }

                .borderr-right {
                    @extend .borderr;
                    width: 4px;
                    height: 100%;
                    transform: scaleY(0);
                    top: 0;
                    left: auto;
                    right: 0;
                    transform-origin: top right;
                }

                &:hover .borderr-bottom {
                    transform: scaleX(1);
                    transition-delay: 0.4s;
                }

                &:hover .borderr-top {
                    transform: scaleX(1);
                }

                &:hover .borderr-left {
                    transform: scaleY(1);
                    transition-delay: 0.6s;
                }

                &:hover .borderr-right {
                    transform: scaleY(1);
                    transition-delay: 0.2s;
                }

                &:hover {
                    border-radius: 10%;
                    font-weight: 900;
                    text-align: center;
                }

                &:hover a {
                    color: $secondary;
                }

                .submenu {
                    display: none;
                    z-index: 3;
                    background-color: $principal;
                    color: $secondary;
                    transition: all 0.8s ease-in;
                    width: auto;

                    li {
                        display: block;
                        font-size: 1em;
                        transition: all 0.8s ease-in;
                        text-align: left;
                        height: auto;

                        &:hover {
                            background-color: $secondary;
                            border-radius: 0%;
                        }

                        &:hover a {
                            color: $principal;
                        }
                    }
                }
            }
        }
    }
}


/* Animaciones */

@keyframes d-yes {
    0% {
        display: block;
    }

    100% {
        display: block;
    }
}

/* Media queries */


@media screen and (max-width: 720px) {
    header ul li a {
        font-size: 13px;
    }

    header ul li label {
        font-size: 13px;
    }
}

/* Termina header */