/* Variables */
.w-1 {
  width: 1%; }

.w-2 {
  width: 2%; }

.w-3 {
  width: 3%; }

.w-4 {
  width: 4%; }

.w-5 {
  width: 5%; }

.w-6 {
  width: 6%; }

.w-7 {
  width: 7%; }

.w-8 {
  width: 8%; }

.w-9 {
  width: 9%; }

.w-10 {
  width: 10%; }

.w-11 {
  width: 11%; }

.w-12 {
  width: 12%; }

.w-13 {
  width: 13%; }

.w-14 {
  width: 14%; }

.w-15 {
  width: 15%; }

.w-16 {
  width: 16%; }

.w-17 {
  width: 17%; }

.w-18 {
  width: 18%; }

.w-19 {
  width: 19%; }

.w-20 {
  width: 20%; }

.w-21 {
  width: 21%; }

.w-22 {
  width: 22%; }

.w-23 {
  width: 23%; }

.w-24 {
  width: 24%; }

.w-25 {
  width: 25%; }

.w-26 {
  width: 26%; }

.w-27 {
  width: 27%; }

.w-28 {
  width: 28%; }

.w-29 {
  width: 29%; }

.w-30 {
  width: 30%; }

.w-31 {
  width: 31%; }

.w-32 {
  width: 32%; }

.w-33 {
  width: 33%; }

.w-34 {
  width: 34%; }

.w-35 {
  width: 35%; }

.w-36 {
  width: 36%; }

.w-37 {
  width: 37%; }

.w-38 {
  width: 38%; }

.w-39 {
  width: 39%; }

.w-40 {
  width: 40%; }

.w-41 {
  width: 41%; }

.w-42 {
  width: 42%; }

.w-43 {
  width: 43%; }

.w-44 {
  width: 44%; }

.w-45 {
  width: 45%; }

.w-46 {
  width: 46%; }

.w-47 {
  width: 47%; }

.w-48 {
  width: 48%; }

.w-49 {
  width: 49%; }

.w-50 {
  width: 50%; }

.w-51 {
  width: 51%; }

.w-52 {
  width: 52%; }

.w-53 {
  width: 53%; }

.w-54 {
  width: 54%; }

.w-55 {
  width: 55%; }

.w-56 {
  width: 56%; }

.w-57 {
  width: 57%; }

.w-58 {
  width: 58%; }

.w-59 {
  width: 59%; }

.w-60 {
  width: 60%; }

.w-61 {
  width: 61%; }

.w-62 {
  width: 62%; }

.w-63 {
  width: 63%; }

.w-64 {
  width: 64%; }

.w-65 {
  width: 65%; }

.w-66 {
  width: 66%; }

.w-67 {
  width: 67%; }

.w-68 {
  width: 68%; }

.w-69 {
  width: 69%; }

.w-70 {
  width: 70%; }

.w-71 {
  width: 71%; }

.w-72 {
  width: 72%; }

.w-73 {
  width: 73%; }

.w-74 {
  width: 74%; }

.w-75 {
  width: 75%; }

.w-76 {
  width: 76%; }

.w-77 {
  width: 77%; }

.w-78 {
  width: 78%; }

.w-79 {
  width: 79%; }

.w-80 {
  width: 80%; }

.w-81 {
  width: 81%; }

.w-82 {
  width: 82%; }

.w-83 {
  width: 83%; }

.w-84 {
  width: 84%; }

.w-85 {
  width: 85%; }

.w-86 {
  width: 86%; }

.w-87 {
  width: 87%; }

.w-88 {
  width: 88%; }

.w-89 {
  width: 89%; }

.w-90 {
  width: 90%; }

.w-91 {
  width: 91%; }

.w-92 {
  width: 92%; }

.w-93 {
  width: 93%; }

.w-94 {
  width: 94%; }

.w-95 {
  width: 95%; }

.w-96 {
  width: 96%; }

.w-97 {
  width: 97%; }

.w-98 {
  width: 98%; }

.w-99 {
  width: 99%; }

.w-100 {
  width: 100%; }

.h-1 {
  width: 1vw; }

.h-2 {
  width: 2vw; }

.h-3 {
  width: 3vw; }

.h-4 {
  width: 4vw; }

.h-5 {
  width: 5vw; }

.h-6 {
  width: 6vw; }

.h-7 {
  width: 7vw; }

.h-8 {
  width: 8vw; }

.h-9 {
  width: 9vw; }

.h-10 {
  width: 10vw; }

.h-11 {
  width: 11vw; }

.h-12 {
  width: 12vw; }

.h-13 {
  width: 13vw; }

.h-14 {
  width: 14vw; }

.h-15 {
  width: 15vw; }

.h-16 {
  width: 16vw; }

.h-17 {
  width: 17vw; }

.h-18 {
  width: 18vw; }

.h-19 {
  width: 19vw; }

.h-20 {
  width: 20vw; }

.h-21 {
  width: 21vw; }

.h-22 {
  width: 22vw; }

.h-23 {
  width: 23vw; }

.h-24 {
  width: 24vw; }

.h-25 {
  width: 25vw; }

.h-26 {
  width: 26vw; }

.h-27 {
  width: 27vw; }

.h-28 {
  width: 28vw; }

.h-29 {
  width: 29vw; }

.h-30 {
  width: 30vw; }

.h-31 {
  width: 31vw; }

.h-32 {
  width: 32vw; }

.h-33 {
  width: 33vw; }

.h-34 {
  width: 34vw; }

.h-35 {
  width: 35vw; }

.h-36 {
  width: 36vw; }

.h-37 {
  width: 37vw; }

.h-38 {
  width: 38vw; }

.h-39 {
  width: 39vw; }

.h-40 {
  width: 40vw; }

.h-41 {
  width: 41vw; }

.h-42 {
  width: 42vw; }

.h-43 {
  width: 43vw; }

.h-44 {
  width: 44vw; }

.h-45 {
  width: 45vw; }

.h-46 {
  width: 46vw; }

.h-47 {
  width: 47vw; }

.h-48 {
  width: 48vw; }

.h-49 {
  width: 49vw; }

.h-50 {
  width: 50vw; }

.h-51 {
  width: 51vw; }

.h-52 {
  width: 52vw; }

.h-53 {
  width: 53vw; }

.h-54 {
  width: 54vw; }

.h-55 {
  width: 55vw; }

.h-56 {
  width: 56vw; }

.h-57 {
  width: 57vw; }

.h-58 {
  width: 58vw; }

.h-59 {
  width: 59vw; }

.h-60 {
  width: 60vw; }

.h-61 {
  width: 61vw; }

.h-62 {
  width: 62vw; }

.h-63 {
  width: 63vw; }

.h-64 {
  width: 64vw; }

.h-65 {
  width: 65vw; }

.h-66 {
  width: 66vw; }

.h-67 {
  width: 67vw; }

.h-68 {
  width: 68vw; }

.h-69 {
  width: 69vw; }

.h-70 {
  width: 70vw; }

.h-71 {
  width: 71vw; }

.h-72 {
  width: 72vw; }

.h-73 {
  width: 73vw; }

.h-74 {
  width: 74vw; }

.h-75 {
  width: 75vw; }

.h-76 {
  width: 76vw; }

.h-77 {
  width: 77vw; }

.h-78 {
  width: 78vw; }

.h-79 {
  width: 79vw; }

.h-80 {
  width: 80vw; }

.h-81 {
  width: 81vw; }

.h-82 {
  width: 82vw; }

.h-83 {
  width: 83vw; }

.h-84 {
  width: 84vw; }

.h-85 {
  width: 85vw; }

.h-86 {
  width: 86vw; }

.h-87 {
  width: 87vw; }

.h-88 {
  width: 88vw; }

.h-89 {
  width: 89vw; }

.h-90 {
  width: 90vw; }

.h-91 {
  width: 91vw; }

.h-92 {
  width: 92vw; }

.h-93 {
  width: 93vw; }

.h-94 {
  width: 94vw; }

.h-95 {
  width: 95vw; }

.h-96 {
  width: 96vw; }

.h-97 {
  width: 97vw; }

.h-98 {
  width: 98vw; }

.h-99 {
  width: 99vw; }

.h-100 {
  width: 100vw; }

.border-mio {
  border: solid; }

.border-bottom-mio {
  border-bottom: solid; }

.border-top-mio {
  border-top: solid; }

.border-left-mio {
  border-left: solid; }

.border-right-mio {
  border-right: solid; }

.border-black {
  border-color: black; }

.border-grey {
  border-color: #9c9b9b; }

.border-red {
  border-color: red; }

.border-sec {
  border-color: #faf2ee; }

.border-prim {
  border-color: black; }

.border-super-small {
  border-width: 0.1cm; }

.border-s {
  border-width: 0.2cm; }

.border-m {
  border-width: 0.3cm; }

.border-big {
  border-width: 0.4cm; }

.border-xl {
  border-width: 0.5cm; }

.border-gigant {
  border-width: 1cm; }

.gap-1mm {
  gap: 0.1cm; }

.gap-2mm {
  gap: 0.2cm; }

.gap-3mm {
  gap: 0.3cm; }

.gap-4mm {
  gap: 0.4cm; }

.gap-5mm {
  gap: 0.5cm; }

.gap-6mm {
  gap: 0.6cm; }

.gap-7mm {
  gap: 0.7cm; }

.gap-8mm {
  gap: 0.8cm; }

.gap-9mm {
  gap: 0.9cm; }

.gap-10mm {
  gap: 1cm; }

.gap-11mm {
  gap: 1.1cm; }

.gap-12mm {
  gap: 1.2cm; }

.gap-13mm {
  gap: 1.3cm; }

.gap-14mm {
  gap: 1.4cm; }

.gap-15mm {
  gap: 1.5cm; }

.gap-16mm {
  gap: 1.6cm; }

.gap-17mm {
  gap: 1.7cm; }

.gap-18mm {
  gap: 1.8cm; }

.gap-19mm {
  gap: 1.9cm; }

.gap-20mm {
  gap: 2cm; }

.gap-21mm {
  gap: 2.1cm; }

.gap-22mm {
  gap: 2.2cm; }

.gap-23mm {
  gap: 2.3cm; }

.gap-24mm {
  gap: 2.4cm; }

.gap-25mm {
  gap: 2.5cm; }

.gap-26mm {
  gap: 2.6cm; }

.gap-27mm {
  gap: 2.7cm; }

.gap-28mm {
  gap: 2.8cm; }

.gap-29mm {
  gap: 2.9cm; }

.gap-30mm {
  gap: 3cm; }

.gap-31mm {
  gap: 3.1cm; }

.gap-32mm {
  gap: 3.2cm; }

.gap-33mm {
  gap: 3.3cm; }

.gap-34mm {
  gap: 3.4cm; }

.gap-35mm {
  gap: 3.5cm; }

.gap-36mm {
  gap: 3.6cm; }

.gap-37mm {
  gap: 3.7cm; }

.gap-38mm {
  gap: 3.8cm; }

.gap-39mm {
  gap: 3.9cm; }

.gap-40mm {
  gap: 4cm; }

.gap-41mm {
  gap: 4.1cm; }

.gap-42mm {
  gap: 4.2cm; }

.gap-43mm {
  gap: 4.3cm; }

.gap-44mm {
  gap: 4.4cm; }

.gap-45mm {
  gap: 4.5cm; }

.gap-46mm {
  gap: 4.6cm; }

.gap-47mm {
  gap: 4.7cm; }

.gap-48mm {
  gap: 4.8cm; }

.gap-49mm {
  gap: 4.9cm; }

.gap-50mm {
  gap: 5cm; }

/* Empieza normalize */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0%; }

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  animation: animation__body 2000ms linear 1 both; }

.main {
  font-size: 62.75%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: #faf2ee;
  animation-name: main_background;
  animation-duration: 16s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background: fixed; }
  .main .background {
    height: 100%;
    width: 100%;
    background-image: url(../Images/Background.jpg);
    animation: background-move 100s linear infinite; }
  .main a {
    color: #faf2ee;
    text-decoration: none; }
  .main__titles {
    font-size: 2.7cm;
    font-weight: bold;
    text-align: center;
    padding: 7%;
    text-decoration: underline;
    margin-bottom: 1.5cm; }

/* Animaciones */
@keyframes main_background {
  0% {
    background: linear-gradient(-45deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  10% {
    background: linear-gradient(-9deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  20% {
    background: linear-gradient(27deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  30% {
    background: linear-gradient(63deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  40% {
    background: linear-gradient(99deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  50% {
    background: linear-gradient(135deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  60% {
    background: linear-gradient(99deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  70% {
    background: linear-gradient(63deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  80% {
    background: linear-gradient(27deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  90% {
    background: linear-gradient(-9deg, #fb9b00, #d1850a, #a07d0c, #d69600); }
  100% {
    background: linear-gradient(-45deg, #fb9b00, #d1850a, #a07d0c, #d69600); } }

@keyframes background-move {
  100% {
    background-position: 3000px 0px; } }

/* Media queries */
@media screen and (max-width: 720px) {
  .main__titles {
    font-size: 4em;
    margin-bottom: 0.5cm;
    padding-top: 1%; } }

/* Termina normalize */
/* Helpers */
/* Empieza footer */
footer {
  color: #faf2ee;
  background-color: #c3bfbf;
  background-image: url(../Images/background__footer.png);
  padding-bottom: 0.4cm; }
  footer h4 {
    margin-left: 40%; }
  footer h6 {
    color: black;
    transform: translateY(-18px); }
  footer .footer-ft div {
    gap: 0.8cm; }
    footer .footer-ft div h6,
    footer .footer-ft div i {
      font-size: 1cm; }

/* Termina footer */
/* Media queries */
@media screen and (max-width: 1023px) {
  footer .footer-ft div {
    gap: 0.4cm; }
    footer .footer-ft div h6,
    footer .footer-ft div i {
      font-size: 0.7cm; }
    footer .footer-ft div h6 {
      transform: translateY(-10px); } }

@media screen and (max-width: 575px) {
  footer .footer-ft div {
    gap: 0.2cm; }
    footer .footer-ft div h6,
    footer .footer-ft div i {
      font-size: 0.5cm; }
    footer .footer-ft div h6 {
      transform: translateY(-7px); } }

/* Empieza header */
header {
  font-size: 62.75%;
  background-color: black; }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0cm;
    flex-wrap: nowrap; }
    header nav a {
      text-decoration: none;
      color: #7a7b7c; }
    header nav .header__logo {
      margin: auto;
      animation-duration: 0.8s;
      animation-timing-function: linear;
      animation-iteration-count: 1; }
      header nav .header__logo .MB2 {
        display: none; }
      header nav .header__logo:hover {
        width: 9%; }
        header nav .header__logo:hover .MB {
          display: none; }
        header nav .header__logo:hover .MB2 {
          display: block; }
    header nav ul {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-content: center;
      gap: 0cm;
      flex-wrap: nowrap; }
      header nav ul .menu__animation, header nav ul .menu__1,
      header nav ul .menu__5, header nav ul .menu__2,
      header nav ul .menu__4, header nav ul .menu__3 {
        animation-iteration-count: 1; }
      header nav ul .menu__1,
      header nav ul .menu__5 {
        animation-duration: 2s;
        position: relative;
        top: -20px; }
      header nav ul .menu__2,
      header nav ul .menu__4 {
        animation-duration: 5s;
        position: relative;
        top: -5px; }
      header nav ul .menu__3 {
        animation-duration: 6s; }
      header nav ul label {
        color: #4d4747; }
      header nav ul li {
        font-size: 2em;
        padding: 0.12cm;
        position: relative; }
        header nav ul li:hover .submenu {
          display: block;
          position: absolute; }
        header nav ul li .borderr, header nav ul li .borderr-top, header nav ul li .borderr-bottom, header nav ul li .borderr-left, header nav ul li .borderr-right {
          position: absolute;
          left: 0;
          background-color: #faf2ee;
          transition: transform 0.2s ease-in-out; }
        header nav ul li .borderr-top {
          width: 100%;
          height: 4px;
          transform: scaleX(0);
          top: 0;
          transform-origin: top left; }
        header nav ul li .borderr-bottom {
          width: 100%;
          height: 4px;
          transform: scaleX(0);
          bottom: 0;
          transform-origin: bottom right; }
        header nav ul li .borderr-left {
          width: 4px;
          height: 100%;
          transform: scaleY(0);
          top: 0;
          transform-origin: bottom left; }
        header nav ul li .borderr-right {
          width: 4px;
          height: 100%;
          transform: scaleY(0);
          top: 0;
          left: auto;
          right: 0;
          transform-origin: top right; }
        header nav ul li:hover .borderr-bottom {
          transform: scaleX(1);
          transition-delay: 0.4s; }
        header nav ul li:hover .borderr-top {
          transform: scaleX(1); }
        header nav ul li:hover .borderr-left {
          transform: scaleY(1);
          transition-delay: 0.6s; }
        header nav ul li:hover .borderr-right {
          transform: scaleY(1);
          transition-delay: 0.2s; }
        header nav ul li:hover {
          border-radius: 10%;
          font-weight: 900;
          text-align: center; }
        header nav ul li:hover a {
          color: #faf2ee; }
        header nav ul li .submenu {
          display: none;
          z-index: 3;
          background-color: black;
          color: #faf2ee;
          transition: all 2s ease-in;
          width: auto; }
          header nav ul li .submenu li {
            display: block;
            font-size: 1em;
            transition: all 2s ease-in;
            height: auto;
            text-align: left;
            transform: translateY(0%); }
            header nav ul li .submenu li:hover {
              background-color: #faf2ee;
              border-radius: 0%;
              height: auto; }
            header nav ul li .submenu li:hover a {
              color: black; }

/* Animaciones */
@keyframes d-yes {
  0% {
    display: block; }
  100% {
    display: block; } }

/* Media queries */
@media screen and (max-width: 720px) {
  header ul li a {
    font-size: 13px; }
  header ul li label {
    font-size: 13px; } }

/* Termina header */
/* Empieza index y promos_2 */
.main {
  font-size: 62.75%; }
  .main__h2 {
    font-size: 10em; }
  .main__title {
    font-size: 15em; }
  .main__section__article1 {
    font-size: 1.5em;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 700;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border-bottom: black 0.4cm solid;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: flex-start;
    gap: 4rem;
    flex-wrap: nowrap;
    width: 100%;
    border-top: solid 0.05cm white;
    background: rgba(0, 0, 0, 0.5); }
    .main__section__article1 div .container {
      row-gap: 2cm; }
    .main__section__article1 h3 {
      text-align: center;
      font-size: 0.8cm;
      font-weight: 500;
      color: black;
      margin: 0.3cm 0.2cm 0.3cm 0.2cm; }
    .main__section__article1 .promo1 img {
      width: 450px;
      position: absolute;
      top: 200px;
      right: -30px; }
    .main__section__article1 .promo2 img {
      width: 440px;
      position: absolute;
      top: 205px;
      right: -34px; }
    .main__section__article1 .promo3 img {
      position: absolute;
      width: 383px;
      top: 218px;
      right: -12px; }
    .main__section__article1 .promo4 img {
      position: absolute;
      width: 333px;
      top: 255px;
      right: -23px; }
    .main__section__article1 .promo5 img {
      position: absolute;
      width: 310px;
      top: 250px;
      right: 24px; }
    .main__section__article1 .promo6 img {
      position: absolute;
      width: 262px;
      top: 276px;
      right: 21px; }
    .main__section__article1 .promo7_and_8 img {
      width: 300px;
      position: absolute;
      top: 265px;
      right: 25px; }
    .main__section__article1 .promo9 img {
      width: 174px;
      position: absolute;
      top: 215px;
      right: 98px; }
    .main__section__article1 .promo10 img {
      width: 300px;
      position: absolute;
      top: 235px;
      right: 30px; }
    .main__section__article1 .promo11 img {
      width: 270px;
      position: absolute;
      top: 250px;
      right: 60px; }
    .main__section__article1 .promo12 img {
      width: 300px;
      position: absolute;
      top: 305px;
      right: 30px; }
    .main__section__article1 .promo {
      color: #faf2ee;
      width: 390px;
      height: 499px;
      background-image: url(../Images/Backpromo.jpg);
      background-size: 378px 517.56px;
      background-repeat: initial;
      border-radius: 100px 100px 60px 60px;
      position: relative;
      animation-name: rotacion_de_hamburguesas;
      animation-duration: 10s;
      animation-delay: 9s;
      animation-timing-function: linear;
      animation-iteration-count: infinite; }
      .main__section__article1 .promo:hover {
        transform: scale(1.15); }
      .main__section__article1 .promo__grid h4 {
        background-color: red;
        border: black 0.1cm solid;
        border-radius: 20%;
        padding: 10px;
        font-size: 1.8em;
        width: 14rem;
        height: 4rem;
        margin: auto;
        margin-top: 11px; }
      .main__section__article1 .promo__grid h2 {
        font-size: 2.3em;
        font-weight: 800;
        margin-left: 1%;
        padding-top: 6.2rem; }
      .main__section__article1 .promo__grid h6 {
        color: transparent;
        height: 4rem; }
      .main__section__article1 .promo__div {
        position: absolute;
        top: 273px;
        right: 70px;
        background-color: red;
        border-radius: 100%;
        border: black 0.1cm solid; }
  .main__section__article2 {
    border-top: black 0.4cm solid; }
    .main__section__article2 .article__subtitle {
      animation: LMV 8s linear 0s infinite; }
    .main__section__article2 .LMV {
      margin: auto auto auto auto;
      width: 600px;
      height: 700px;
      font-weight: 900;
      background: linear-gradient(-45deg, #000000, #1f1c1c, #42403f, #1f1917);
      background-size: cover;
      border: #000000 0.2cm solid;
      border-radius: 20% 20% 20% 20%;
      position: relative;
      margin-bottom: 2cm; }
      .main__section__article2 .LMV img {
        position: absolute;
        top: 90px;
        right: -65px;
        width: 700px; }
      .main__section__article2 .LMV:hover {
        transform: scale(1.1); }
      .main__section__article2 .LMV__nombre {
        background-color: red;
        border: black 0.1cm solid;
        position: absolute;
        top: 540px;
        left: 90px; }
        .main__section__article2 .LMV__nombre h3 {
          font-size: 1.5cm;
          margin: 0%; }
      .main__section__article2 .LMV__precio {
        background-color: red;
        border: black 0.1cm solid;
        transform: rotate(45deg);
        position: absolute;
        top: 83px;
        left: 338px; }
        .main__section__article2 .LMV__precio h4 {
          margin: 0%;
          font-size: 1.2cm;
          padding: 0px 70px 0px 70px; }

/* Animaciones */
@keyframes LMV {
  10% {
    color: #1c2af3; }
  20% {
    color: #ee1414; }
  30% {
    color: #ffffff8e; }
  40% {
    color: #444141; }
  50% {
    color: #1c2af3; }
  60% {
    color: #ffffff; }
  70% {
    color: #ffd000; }
  80% {
    color: #9ea0a0; }
  90% {
    color: #fa01d9; }
  100% {
    color: #00dbf8; } }

@keyframes rotacion_de_hamburguesas {
  0% {
    transform: rotateY(0deg); }
  5% {
    transform: rotateY(360deg); }
  10% {
    transform: rotateY(0deg); } }

@keyframes run {
  0% {
    top: -50%; }
  100% {
    top: 110%; } }

/* Media queries */
@media screen and (max-width: 1023px) {
  .main__section__article1 h3 {
    font-size: 3em; }
  .main__section__article1 .promo1 img {
    width: 550px;
    top: 310px;
    right: -5px; }
  .main__section__article1 .promo2 img {
    width: 550px;
    top: 305px;
    right: -10px; }
  .main__section__article1 .promo3 img {
    width: 525px;
    top: 305px;
    right: -5px; }
  .main__section__article1 .promo4 img {
    width: 450px;
    top: 352px;
    right: -23px; }
  .main__section__article1 .promo5 img {
    width: 430px;
    top: 332px;
    right: 40px; }
  .main__section__article1 .promo6 img {
    width: 355px;
    top: 379px;
    right: 33px; }
  .main__section__article1 .promo7_and_8 img {
    width: 450px;
    top: 350px;
    right: 25px; }
  .main__section__article1 .promo9 img {
    width: 224px;
    top: 305px;
    right: 150px; }
  .main__section__article1 .promo10 img {
    width: 400px;
    top: 335px;
    right: 50px; }
  .main__section__article1 .promo11 img {
    width: 350px;
    top: 350px;
    right: 90px; }
  .main__section__article1 .promo12 img {
    width: 380px;
    top: 405px;
    right: 80px; }
  .main__section__article1 .promo {
    width: 550px;
    height: 680px;
    background-size: 550px 710px;
    border-radius: 90px 90px 65px 65px; }
    .main__section__article1 .promo h4 {
      border-radius: 25%;
      font-size: 2.8em;
      width: 19rem;
      height: 5.1rem;
      margin: auto;
      margin-top: 20px; }
    .main__section__article1 .promo h2 {
      margin-top: 2rem;
      font-size: 3.1em; }
    .main__section__article1 .promo h6 {
      height: 5.1rem;
      margin-top: 0.8rem; }
    .main__section__article1 .promo__div {
      top: 369px;
      right: 90px; } }

@media screen and (max-width: 720px) {
  .main__title {
    text-align: center;
    font-size: 6.8em; }
  .main__h2 {
    font-size: 6em; }
  .main__section__article1 {
    display: flex;
    flex-direction: column;
    justify-content: justify-content-center;
    align-content: flex-start;
    gap: 4rem;
    flex-wrap: nowrap;
    border-top: solid 0.05cm white;
    background: rgba(0, 0, 0, 0.5); }
    .main__section__article1 h3 {
      font-size: 0.8em;
      font-weight: bold; }
    .main__section__article1 .promo1 img {
      width: 220px;
      top: 120px;
      right: -18px; }
    .main__section__article1 .promo2 img {
      width: 220px;
      top: 120px;
      right: -15px; }
    .main__section__article1 .promo3 img {
      width: 195px;
      top: 125px;
      right: -10px; }
    .main__section__article1 .promo4 img {
      width: 170px;
      top: 140px;
      right: -10px; }
    .main__section__article1 .promo5 img {
      width: 150px;
      top: 145px;
      right: 12px; }
    .main__section__article1 .promo6 img {
      width: 140px;
      top: 150px;
      right: 5px; }
    .main__section__article1 .promo7_and_8 img {
      width: 135px;
      top: 155px;
      right: 20px; }
    .main__section__article1 .promo9 img {
      width: 92px;
      top: 120px;
      right: 45px; }
    .main__section__article1 .promo10 img {
      width: 120px;
      top: 155px;
      right: 30px; }
    .main__section__article1 .promo11 img {
      width: 140px;
      top: 138px;
      right: 26px; }
    .main__section__article1 .promo12 img {
      width: 140px;
      top: 165px;
      right: 20px; }
    .main__section__article1 .promo {
      width: 200px;
      height: 280px;
      background-size: 187px 286px;
      border-radius: 40px 40px 35px 35px; }
      .main__section__article1 .promo h4 {
        font-size: 1em;
        width: 9rem;
        height: 2.3rem;
        padding: 0%;
        margin: auto;
        padding-top: 2%;
        margin-top: 5px; }
      .main__section__article1 .promo h2 {
        font-size: 1.1em;
        padding-top: 10%; }
      .main__section__article1 .promo h6 {
        height: 2.3rem;
        margin-top: 5px; }
      .main__section__article1 .promo__div {
        top: 10.3em;
        right: 30px; }
  .main__section__article2 .LMV {
    width: 340px;
    height: 28rem;
    font-weight: 900;
    border-radius: 15% 15% 15% 15%;
    margin: auto;
    margin-bottom: 1cm; }
    .main__section__article2 .LMV:hover {
      transform: scale(1.15); }
    .main__section__article2 .LMV img {
      position: absolute;
      top: 5.5em;
      left: -5rem;
      margin: auto auto;
      width: 150%; }
    .main__section__article2 .LMV__nombre {
      position: absolute;
      top: 22rem;
      left: 2.7rem;
      width: 15rem; }
      .main__section__article2 .LMV__nombre h3 {
        font-size: 2.7em;
        margin: 0%; }
    .main__section__article2 .LMV__precio {
      top: 3.8rem;
      left: 7.69rem;
      transform: rotate(40deg); }
      .main__section__article2 .LMV__precio h4 {
        margin: 0%;
        font-size: 2.7em;
        padding: 0px 70px 0px 70px; } }

@media screen and (max-width: 500px) {
  .main__title {
    font-size: 6em; }
  .main__h2 {
    font-size: 4.5em; }
  .main__section__article2 .LMV {
    width: 240px;
    height: 22rem; }
    .main__section__article2 .LMV img {
      top: 7.5em;
      left: -4rem;
      width: 135%; }
    .main__section__article2 .LMV__nombre {
      top: 16.84rem;
      left: 2rem;
      width: 10rem; }
      .main__section__article2 .LMV__nombre h3 {
        font-size: 2em; }
    .main__section__article2 .LMV__precio {
      top: 2.86rem;
      left: 3.58rem;
      transform: rotate(35deg); }
      .main__section__article2 .LMV__precio h4 {
        font-size: 2em;
        padding: 0px 60px 0px 60px; } }

/* Termina index y promos_2 */
/* Empieza catalogo */
.main__catalogo {
  padding: 0%;
  width: 100%;
  overflow: hidden; }
  .main__catalogo .div-row-cat {
    display: flex;
    flex-direction: row; }
    .main__catalogo .div-row-cat .div-w-cat {
      width: 50%; }
      .main__catalogo .div-row-cat .div-w-cat:hover {
        transform: scale(0.9);
        border: 0.3cm white solid;
        background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.616), rgba(38, 38, 38, 0.577), rgba(0, 0, 0, 0.587)); }
      .main__catalogo .div-row-cat .div-w-cat .gap-cat {
        gap: 25%; }
      .main__catalogo .div-row-cat .div-w-cat img {
        width: 62%;
        height: 300px;
        position: relative;
        left: -2.5%;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden; }
      .main__catalogo .div-row-cat .div-w-cat .precio {
        animation: precio_catalogo 1s linear infinite;
        text-align: right; }
      .main__catalogo .div-row-cat .div-w-cat .mover {
        margin-left: 26%; }
      .main__catalogo .div-row-cat .div-w-cat .dcq {
        width: 40%;
        margin-left: 35%; }
      .main__catalogo .div-row-cat .div-w-cat .main__catalogo__info {
        justify-content: flex-start;
        text-align: left; }
        .main__catalogo .div-row-cat .div-w-cat .main__catalogo__info__line {
          height: 0.2rem;
          background-color: #faf2ee; }

/* Animaciones */
@keyframes precio_catalogo {
  0% {
    color: white; }
  1% {
    color: red; }
  51% {
    color: red; }
  52% {
    color: #ffffff; } }

/* Media queries */
@media screen and (max-width: 1023px) {
  .main__catalogo .div-row-cat {
    flex-direction: column; }
    .main__catalogo .div-row-cat .div-w-cat {
      width: 100%; }
      .main__catalogo .div-row-cat .div-w-cat .mover {
        margin-left: 30%; }
      .main__catalogo .div-row-cat .div-w-cat .dcq {
        margin-left: 30%; }
      .main__catalogo .div-row-cat .div-w-cat img {
        margin-left: 30%;
        height: 34vw;
        width: 44vw; } }

@media screen and (max-width: 720px) {
  .main__catalogo .div-row-cat .div-w-cat .main__catalogo__info h5 {
    font-size: 0.4cm; }
  .main__catalogo .div-row-cat .div-w-cat .precio {
    font-size: 0.4cm; } }

@media screen and (max-width: 520px) {
  .main__catalogo .div-row-cat .div-w-cat .main__catalogo__info h5 {
    font-size: 0.3cm; }
  .main__catalogo .div-row-cat .div-w-cat .precio {
    font-size: 0.3cm;
    text-align: right; } }

/* Termina catalogo */
/* Empieza nosotros */
.main__enlaces li {
  width: auto;
  text-transform: capitalizes; }
  .main__enlaces li a {
    width: auto; }
    .main__enlaces li a:hover {
      color: #817b7b; }

.main__section {
  border-bottom: solid black 0.1cm;
  background-color: rgba(0, 0, 0, 0.716); }
  .main__section img {
    width: 44vw;
    height: auto;
    margin-top: auto;
    margin-bottom: auto; }
  .main__section article {
    border-top: black solid 0.1cm;
    padding-top: 2%;
    padding-bottom: 2%; }
    .main__section article .section__texto {
      text-align: justify;
      font-family: monospace;
      font-size: 1.75vw;
      width: 44vw;
      height: 30%; }

/* Media queries */
@media screen and (max-width: 720px) {
  .main__section img {
    border: #faf2ee solid 0.1cm; }
  .main__section article {
    padding: 1rem;
    column-gap: 10%; }
    .main__section article .section__texto {
      text-align: justify;
      font-family: monospace;
      font-size: 1.7vw; } }

@media screen and (max-width: 550px) {
  .main__section article .section__texto {
    font-size: 2.2vw; } }

/* Termina nosotros */
/* Empieza locales */
.modal-body iframe {
  height: 26vw; }

main .h-locals {
  height: 50vw; }

main .section-locales {
  padding: 10%; }
  main .section-locales .locales__button1 {
    transform: translateX(-25%); }
  main .section-locales .locales__button2 {
    transform: translateX(25%); }
  main .section-locales .charcas {
    background-image: url(../Images/charcas.jpg);
    background-size: cover;
    height: 60vw; }
  main .section-locales .mendoza {
    background-image: url(../Images/mendoza.jpg);
    background-size: cover;
    height: 60vw; }
  main .section-locales .iriarte {
    background-image: url(../Images/iriarte.jpg);
    background-size: cover;
    height: 60vw; }
  main .section-locales .moreno {
    background-image: url(../Images/moreno.jpg);
    background-size: cover;
    height: 60vw; }
  main .section-locales .laplata {
    background-image: url(../Images/laplata.jpg);
    background-size: cover;
    height: 60vw; }
  main .section-locales .cordoba {
    background-image: url(../Images/cordoba.jpg);
    background-size: cover;
    height: 60vw; }
  main .section-locales .locales {
    font-weight: bold;
    color: #faf2ee;
    margin: auto auto;
    border-radius: 20%; }
    main .section-locales .locales__hover {
      display: none; }
    main .section-locales .locales:hover .locales__hover {
      display: block;
      height: 100%;
      width: 100%;
      border-radius: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      gap: 10%;
      flex-wrap: nowrap; }
      main .section-locales .locales:hover .locales__hover__btn {
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.6cm;
        color: #faf2ee;
        border: 0.2cm white solid;
        background-color: transparent; }
        main .section-locales .locales:hover .locales__hover__btn:hover {
          background-color: rgba(0, 0, 0, 0.073);
          transform: scale(1.2); }

main .digital__a {
  padding: 0.3cm;
  background-color: #faf2ee; }
  main .digital__a:hover {
    padding: 5%;
    background-color: #cecbcb;
    border-radius: 30%; }
    main .digital__a:hover img {
      border-radius: 30%; }

/* Media queries */
@media screen and (max-width: 1023px) {
  .locales h2 {
    font-size: 1.2cm; }
  .locales h3 {
    font-size: 0.8cm; } }

@media screen and (max-width: 720px) {
  .locales h2 {
    font-size: 4vw; }
  .locales h3 {
    font-size: 3.5vw; } }

@media screen and (max-width: 390px) {
  #d h2 {
    font-size: 0.9cm; } }

/* Termina locales */
/* Empieza redes */
.main .section__nets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-evenly;
  gap: 2cm;
  flex-wrap: wrap;
  height: auto;
  margin: 0%;
  row-gap: 2cm;
  flex-wrap: wrap; }
  .main .section__nets .card {
    width: 21rem;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10%;
    flex-wrap: nowrap; }
    .main .section__nets .card img {
      height: 224px;
      width: 80%; }
    .main .section__nets .card h5 {
      font-size: 2em; }
    .main .section__nets .card p {
      font-size: 1.3em; }
    .main .section__nets .card a {
      font-size: 2em; }

.main form {
  border-radius: 1%; }
  .main form .botons {
    display: flex;
    flex-direction: row;
    justify-content: justify-content-center;
    align-content: flex-start;
    gap: 2cm;
    flex-wrap: nowrap;
    display: block; }
    .main form .botons .btn-enviar,
    .main form .botons .btn-reset {
      height: 1cm;
      font-size: 1.5em;
      margin-bottom: 0.1cm;
      margin-right: 0.4cm; }

.main .btn-enviar,
.main .btn-reset,
.main .btn-red {
  position: relative;
  overflow: hidden; }
  .main .btn-enviar span,
  .main .btn-reset span,
  .main .btn-red span {
    transition: transform 0.2s ease-out; }
  .main .btn-enviar span:first-child,
  .main .btn-reset span:first-child,
  .main .btn-red span:first-child {
    display: inline-block; }
  .main .btn-enviar span:last-child,
  .main .btn-reset span:last-child,
  .main .btn-red span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-1000%); }
  .main .btn-enviar:hover span:first-child,
  .main .btn-reset:hover span:first-child,
  .main .btn-red:hover span:first-child {
    transform: translateY(1000%); }
  .main .btn-enviar:hover span:last-child,
  .main .btn-reset:hover span:last-child,
  .main .btn-red:hover span:last-child {
    transform: translateY(0%);
    left: 40%;
    width: 20%;
    font-size: 1.5em; }

/* Media queries */
@media screen and (max-width: 1023px) {
  main .main__title--form {
    width: 80%;
    font-size: 8.6em;
    margin: 10% auto; }
  main .section__nets {
    display: flex;
    display: grid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: space-evenly;
    justify-content: flex-start;
    align-content: flex-start; } }

@media screen and (max-width: 720px) {
  .main .section__nets {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 1cm;
    flex-wrap: nowrap;
    height: auto; }
    .main .section__nets .card {
      width: 18rem; }
      .main .section__nets .card img {
        height: 11rem; }
      .main .section__nets .card h5 {
        font-size: 1.7em; }
      .main .section__nets .card p {
        font-size: 1em; }
      .main .section__nets .card a {
        font-size: 1.7em; } }

/* Termina redes */
