:root {
    --principal: #000000;
    --secondary: rgb(255, 255, 255);
}

/* Empiezan estilos generales */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
}

body {
    width: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

header {
    animation-name: header;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

header li {
    transition: all 2s ease-in;
    font-size: 2em;
}

header li a:hover {
    border-radius: 10%;
    background-color: #a09f9fd5;
    color: #000000;
    font-weight: 900;
    text-align: center;
} 

.submenu { 
    display: none;
    z-index: 3;
    background-color: #E5E5E5;
}

.submenu li {
    display: block;
    font-size: 1.4em;
}

.submenu li:hover{
    background-color: #000000;
}
.submenu li:hover a{
    color: #E5E5E5;
    background:none;
    transition: all 0s;
}

header ul li:hover ul {
    display: block;
    position: absolute;
}

header ul li:hover ul li {
    display: block;
    position: relative;
}

header a {
    text-decoration: none;
    color: #000000;
}

main {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    color: white;
    margin: 0px 0px 0px 0px;
    padding: 0%;
    animation: main_background 16s infinite ease-in;
}

main a {
    color: white;
    text-decoration: none;
}

.main__titles {
    font-size: 3cm;
    font-weight: bold;
    text-align: center;
    padding: 7%;
    text-decoration: underline;
    margin-bottom: 1.5cm;
}

.grid {
    display: grid;
}

footer ul li:hover{
    color: #c7c2c2b2;
}

footer img {
    width: 25px;
    transform: translateY(-5px);
}

/* Terminan estilos generales */

/* Empieza catálogo */

.main__catalogo {
    border-top: rgb(0, 0, 0) solid 0.4cm;
}

.catalogo__item {
    background-image: linear-gradient(58deg, rgb(207, 109, 63), rgb(194, 112, 44));
    border-radius: 10%;
    border: black solid 0.3cm;
    width: 420px;
    height: 500px;
    padding-left: 0%;
    margin: auto;
}

.item__div1 {
    font-size: 0.8cm;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #443b20ec;
    border-top: black solid 0.3cm;
    border-bottom: black solid 0.3cm;
    margin-top: 0.9cm;
    margin-left: 0%;
    padding-left: 0%;
}

.main__catalogo img {
    margin-left: 1.8cm;
    margin-top: 0.2cm;
    width: 250px;
    height: 170px;
}

.main__catalogo p {
    text-align: justify;
    font-size: 2em;
    width: 90%;
    margin: auto;
    border: white solid 0.1cm;
    margin-bottom: 0.5cm;
}

.item__div2 {
    font-size: 1.5cm;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #443b20ec;
    border-top: black solid 0.3cm;
    border-bottom: black solid 0.3cm;
    margin-top: 0.3cm;
    line-height: 1.6cm;
    animation: precio_catalogo 1s linear infinite;
}

/* Termina catálogo */

/* Empieza nosotros */

.main__enlaces li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: capitalizes;
}

.main__enlaces li a:hover{
    color: #817b7b;
    background-color: #00000036;
}

.main__section {
    background-color: #443b20ec;
    border-bottom: solid black 0.4cm;
}

.main__section article {
    border-top: black solid 0.4cm;
}

.section__texto {
    text-align: justify;
    font-family: monospace;
    font-size: 1.75vw;
    width: 44vw;
    height: 30%;
}

.main__section img {
    width: 44vw;
}

/* Termina nosotros */

/* Empieza locales */

.h-locals{
    height: 50vw;
}

/* Termina locales */

/* Empieza redes */

.section__nets img {
    width: 25px;
    transform: translateY(-5px);
}

.section__nets h4:hover{
    color: #c7c2c2b2;
    background-color: rgba(245, 245, 245, 0.171);
}

/* Termina redes */




/* Empiezan animaciones */

@keyframes rotacion_de_hamburguesas{
    0% { transform: rotateY(0deg);}
    5% { transform: rotateY(360deg);}
    10% { transform: rotateY(0deg);}
}

@keyframes header{
    0%{ background-color: #E5E5E5;}
    10%{ background-color: #e6bfbf;}
    20%{ background-color: #e4cacaf6;}
    25%{ background-color: #ebecec;}
    35%{ background-color: #c5dbdbb4;}
    50%{ background-color: #f7e1e1e1;}
    60%{ background-color: #f5d8d8ed;}
    70%{ background-color: #e4e0e0ea;}
    80%{ background-color: #cac7c7ec;}
    90%{ background-color: #d4c0c0ec;}
    100%{ background-color: #E5E5E5;}
}

@keyframes LMV{
    10%{color: #1c2af3;}
    20%{color: #ee1414;}
    30%{color: #eeff028e;}
    40%{color: #444141;}
    50%{color: #1c2af3;}
    60%{color: #ffffff;}
    70%{color: #ffd000;}
    80%{color: #9ea0a0;}
    90%{color: #fa01d9;}
    100%{color: rgb(0, 219, 248);}
}

@keyframes main_background{
    0%{background-image: linear-gradient(-45deg, #584d1a, #80621d, #8f5410, #614b03);}
    10%{background-image: linear-gradient(-9deg, #584d1a, #80621d, #8f5410, #614b03);}
    20%{background-image: linear-gradient(27deg, #584d1a, #80621d, #8f5410, #614b03);}
    30%{background-image: linear-gradient(63deg, #584d1a, #80621d, #8f5410, #614b03);}
    40%{background-image: linear-gradient(99deg, #584d1a, #80621d, #8f5410, #614b03);}
    50%{background-image: linear-gradient(135deg, #584d1a, #80621d, #8f5410, #614b03);}
    60%{background-image: linear-gradient(99deg, #584d1a, #80621d, #8f5410, #614b03);}
    70%{background-image: linear-gradient(63deg, #584d1a, #80621d, #8f5410, #614b03);}
    80%{background-image: linear-gradient(27deg, #584d1a, #80621d, #8f5410, #614b03);}
    90%{background-image: linear-gradient(-9deg, #584d1a, #80621d, #8f5410, #614b03);}
    100%{background-image: linear-gradient(-45deg, #584d1a, #80621d, #8f5410, #614b03);}  
}

@keyframes precio_catalogo{
    0%{color: white;}
    1%{color:red}
    51%{color: red;}
    52%{color: white;}
}

/* Terminan animaciones */






/* Empiezan media queries */

@media screen and (max-width: 1023px) {
    

    .locals h2 {
        font-size: 1.2cm;
    }

    .locals h3 {
        font-size: 0.8cm;
    }

    .main__title--form {
        width: 80%;
        font-size: 8.6em;
        margin: 10% auto;
    }

}

@media screen and (max-width: 720px) {

    header ul li{
        font-size: 2.5vw;
    }

    .main__titles{
        font-size: 4em;
        margin-bottom: 0.5cm;
        padding-top: 1%;
    }

    .main__catalogo {
        row-gap: 4rem;
    }

    .catalogo-row {
        column-gap: 4rem;
        row-gap: 4rem;
        flex-wrap: wrap;
    }

    .catalogo__item {
        border-radius: 8%;
        width: 250px;
        height: 340px;
        padding-top: 0%;
    }

    .item__div1 {
        margin-top: 6%;
        font-size: 1.7em;
        margin-bottom: 0rem;
    }

    .main__catalogo img {
        margin-left: 2.8rem;
        margin-top: 0.2cm;
        width: 140px;
        height: 120px;
    }

    .main__catalogo p {
        font-size: 0.9em;
        margin-bottom: 0.2cm;
    }

    .item__div2 {
        font-size: 2.2em;
        width: 100%;
        margin-top: 0.7rem;
        line-height: 1.3rem;
    }

    .main__section article {
        padding: 1rem;
        column-gap: 10%;
    }

    .section__texto {
        text-align: justify;
        font-family: monospace;
        font-size: 1.7vw;
    }

    .main__section img {
        border: white solid 0.1cm;
    }
}

/* Terminan media queries */

