/* Empieza catalogo */

.main__catalogo {
  padding: 0%;

  .div-row-cat {
    display: flex;
    flex-direction: row;

    .div-w-cat {
      width: 50%;



      .gap-cat {
        gap: 25%;
      }

      img {
        width: 62%;
        height: 300px;
        position: relative;
        left: -6.5%;
        margin-left: auto;
        margin-right: auto;
      }

      .precio {
        animation: precio_catalogo 1s linear infinite;
        text-align: right;
      }

      .mover {
        margin-left: 20%;
      }

      .dcq {
        width: 40%;
        margin-left: 35%;
      }

      .main__catalogo__info {
        justify-content: flex-start;


        &__line {
          height: 0.2rem;
          background-color: white;
        }

        text-align: left;
      }

    }
  }
}

/* Animaciones */

@keyframes precio_catalogo {
  0% {
    color: white;
  }

  1% {
    color: red;
  }

  51% {
    color: red;
  }

  52% {
    color: #ffffff;
  }
}


/* Media queries */

@media screen and (max-width: 1023px) {
  .main__catalogo {
    .div-row-cat {
      flex-direction: column;

      .div-w-cat {
        width: 100%;

        .mover {
          margin-left: 33%;
        }

        .dcq {
          margin-left: 33%;
        }

        img {
          margin-left: 33%;
          height: 34vw;
          width: 44vw;
        }

      }
    }
  }

}

@media screen and (max-width: 720px) {
  .main__catalogo {
    .div-row-cat {
      .div-w-cat {

        .main__catalogo__info {
          h5 {
            font-size: 0.4cm;
          }

        }

        .precio {
          font-size: 0.4cm;
        }
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .main__catalogo {
    .div-row-cat {
      .div-w-cat {


        .main__catalogo__info {
          h5 {
            font-size: 0.3cm;
          }
        }

        .precio {
          font-size: 0.3cm;
          text-align: right;
        }
      }
    }
  }
}

/* Termina catalogo */