/* Empieza index y promos_2 */

.main {

    &__h2 {
        font-size: 10em;
    }

    &__title {
        font-size: 15em;
    }

    &__section__article1 {
        font-size: 1.5em;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        font-weight: 700;
        margin-top: 0.5cm;
        margin-bottom: 0.5cm;
        border-bottom: black 0.4cm solid;
        @include disp-flex(column, 4rem, space-evenly);
        width: 100%;
        border-top: solid 0.05cm white;
        background: rgba(0, 0, 0, 0.500);

        div .container{
            row-gap: 2cm;
        }

        h3 {
            text-align: center;
            font-size: 0.8cm;
            font-weight: 500;
            color: $principal;
            margin: 0.3cm 0.2cm 0.3cm 0.2cm;
        }

        .promo1 img {
            width: 450px;
            position: absolute;
            top: 200px;
            right: -30px;
        }

        .promo2 img {
            width: 440px;
            position: absolute;
            top: 205px;
            right: -34px;
        }

        .promo3 img {
            position: absolute;
            width: 383px;
            top: 218px;
            right: -12px;
        }

        .promo4 img {
            position: absolute;
            width: 333px;
            top: 255px;
            right: -23px;
        }

        .promo5 img {
            position: absolute;
            width: 310px;
            top: 250px;
            right: 24px;
        }

        .promo6 img {
            position: absolute;
            width: 262px;
            top: 276px;
            right: 21px;
        }

        .promo7_and_8 img {
            width: 300px;
            position: absolute;
            top: 265px;
            right: 25px;
        }

        .promo9 img {
            width: 174px;
            position: absolute;
            top: 215px;
            right: 98px;
        }

        .promo10 img {
            width: 300px;
            position: absolute;
            top: 235px;
            right: 30px;
        }

        .promo11 img {
            width: 270px;
            position: absolute;
            top: 250px;
            right: 60px;
        }

        .promo12 img {
            width: 300px;
            position: absolute;
            top: 305px;
            right: 30px;
        }

        .promo {
            color: $secondary;
            width: 390px;
            height: 499px;
            background-image: url(../Images/Backpromo.jpg);
            background-size: 378px 517.56px;
            background-repeat: initial;
            border-radius: 100px 100px 60px 60px;
            position: relative;
            animation-name: rotacion_de_hamburguesas;
            animation-duration: 10s;
            animation-delay: 9s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;

            &:hover{
                transform: scale(1.15);
            }

            &__grid {
                h4 {
                    background-color: red;
                    border: black 0.1cm solid;
                    border-radius: 20%;
                    padding: 10px;
                    font-size: 1.8em;
                    width: 14rem;
                    height: 4rem;
                    margin: auto;
                    margin-top: 11px;
                }

                h2 {
                    font-size: 2.3em;
                    font-weight: 800;
                    margin-left: 1%;
                    padding-top: 6.2rem;
                }

                h6 {
                    color: transparent;
                    height: 4rem;
                }

            }

            &__div {
                position: absolute;
                top: 273px;
                right: 70px;
                background-color: red;
                border-radius: 100%;
                border: black 0.1cm solid;
            }
        }
    }

    &__section__article2 {
        border-top: black 0.4cm solid;

        .lines {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
            margin: auto;
            width: 90vw;
        }

        .lines .line {
            position: absolute;
            width: 1px;
            height: 100%;
            top: 0;
            left: 50%;
            background: rgba(255, 255, 255, 0.1);
            overflow: hidden;
        }

        .lines .line::after {
            content: "";
            display: block;
            position: absolute;
            height: 15vh;
            width: 100%;
            top: -50%;
            left: 0;
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
            animation: run 7s 0s infinite;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
        }

        .lines .line:nth-child(1) {
            margin-left: -25%;
        }

        .lines .line:nth-child(1)::after {
            animation-delay: 2s;
        }

        .lines .line:nth-child(3) {
            margin-left: 25%;
        }

        .lines .line:nth-child(3)::after {
            animation-delay: 2.5s;
        }

        .article__subtitle {
            animation: LMV 8s linear 0s infinite;
        }

        .LMV {
            margin: auto auto auto auto;
            width: 600px;
            height: 700px;
            font-weight: 900;
            background: linear-gradient(-45deg, #000000, #1f1c1c, #42403f, #1f1917);
            background-size: cover;
            border: #000000 0.2cm solid;
            border-radius: 20% 20% 20% 20%;
            position: relative;
            margin-bottom: 2cm;

            img {
                position: absolute;
                top: 90px;
                right: -65px;
                width: 700px;
            }

            &__nombre {
                background-color: red;
                border: black 0.1cm solid;
                position: absolute;
                top: 540px;
                left: 90px;

                h3 {
                    font-size: 1.5cm;
                    margin: 0%;
                }
            }

            &__precio {
                background-color: red;
                border: black 0.1cm solid;
                transform: rotate(45deg);
                position: absolute;
                top: 83px;
                left: 338px;

                h4 {
                    margin: 0%;
                    font-size: 1.2cm;
                    padding: 0px 70px 0px 70px;
                }
            }
        }

    }
}

/* Animaciones */

@keyframes LMV {
    10% {
        color: #1c2af3;
    }

    20% {
        color: #ee1414;
    }

    30% {
        color: #eeff028e;
    }

    40% {
        color: #444141;
    }

    50% {
        color: #1c2af3;
    }

    60% {
        color: #ffffff;
    }

    70% {
        color: #ffd000;
    }

    80% {
        color: #9ea0a0;
    }

    90% {
        color: #fa01d9;
    }

    100% {
        color: rgb(0, 219, 248);
    }
}

@keyframes rotacion_de_hamburguesas {
    0% {
        transform: rotateY(0deg);
    }

    5% {
        transform: rotateY(360deg);
    }

    10% {
        transform: rotateY(0deg);
    }
}

@keyframes run {
    0% {
        top: -50%;
    }

    100% {
        top: 110%;
    }
}

/* Media queries */

@media screen and (max-width: 1023px) {

    .main__section__article1 {
        h3 {
            font-size: 3em;
        }

        .promo1 img {
            width: 550px;
            top: 310px;
            right: -5px;
        }

        .promo2 img {
            width: 550px;
            top: 305px;
            right: -10px;
        }

        .promo3 img {
            width: 525px;
            top: 305px;
            right: -5px;
        }

        .promo4 img {
            width: 450px;
            top: 352px;
            right: -23px;
        }

        .promo5 img {
            width: 430px;
            top: 332px;
            right: 40px;
        }

        .promo6 img {
            width: 355px;
            top: 379px;
            right: 33px;
        }

        .promo7_and_8 img {
            width: 450px;
            top: 350px;
            right: 25px;
        }

        .promo9 img {
            width: 224px;
            top: 305px;
            right: 150px;
        }

        .promo10 img {
            width: 400px;
            top: 335px;
            right: 50px;
        }

        .promo11 img {
            width: 350px;
            top: 350px;
            right: 90px;
        }

        .promo12 img {
            width: 380px;
            top: 405px;
            right: 80px;
        }

        .promo {
            width: 550px;
            height: 680px;
            background-size: 550px 710px;
            border-radius: 90px 90px 65px 65px;

            h4 {
                border-radius: 25%;
                font-size: 2.8em;
                width: 19rem;
                height: 5.1rem;
                margin: auto;
                margin-top: 20px;
            }

            h2 {
                margin-top: 2rem;
                font-size: 3.1em;
            }

            h6 {
                height: 5.1rem;
                margin-top: 0.8rem;
            }

            &__div {
                top: 369px;
                right: 90px;
            }
        }


    }
}

@media screen and (max-width: 720px) {

    .main {

        &__title {
            text-align: center;
            font-size: 6.8em;
        }

        &__h2 {
            font-size: 6em;
        }

        &__section__article1 {
            @include disp-flex(column, 4rem, justify-content-center);
            border-top: solid 0.05cm white;
            background: rgba(0, 0, 0, 0.500);

            h3 {
                font-size: 0.8em;
                font-weight: bold;
            }

            .promo1 img {
                width: 220px;
                top: 120px;
                right: -18px;
            }

            .promo2 img {
                width: 220px;
                top: 120px;
                right: -15px;
            }

            .promo3 img {
                width: 195px;
                top: 125px;
                right: -10px;
            }

            .promo4 img {
                width: 170px;
                top: 140px;
                right: -10px;
            }

            .promo5 img {
                width: 150px;
                top: 145px;
                right: 12px;
            }

            .promo6 img {
                width: 140px;
                top: 150px;
                right: 5px;
            }

            .promo7_and_8 img {
                width: 135px;
                top: 155px;
                right: 20px;
            }

            .promo9 img {
                width: 92px;
                top: 120px;
                right: 45px;
            }

            .promo10 img {
                width: 120px;
                top: 155px;
                right: 30px;
            }

            .promo11 img {
                width: 140px;
                top: 138px;
                right: 26px;
            }

            .promo12 img {
                width: 140px;
                top: 165px;
                right: 20px;
            }

            .promo {
                width: 200px;
                height: 280px;
                background-size: 187px 286px;
                border-radius: 40px 40px 35px 35px;

                h4 {
                    font-size: 1em;
                    width: 9rem;
                    height: 2.3rem;
                    padding: 0%;
                    margin: auto;
                    padding-top: 2%;
                    margin-top: 5px;
                }

                h2 {
                    font-size: 1.1em;
                    padding-top: 10%;
                }

                h6 {
                    height: 2.3rem;
                    margin-top: 5px;
                }

                &__div {
                    top: 10.3em;
                    right: 30px;
                }
            }

        }

        &__section__article2 {

            .LMV {
                width: 340px;
                height: 28rem;
                font-weight: 900;
                border-radius: 15% 15% 15% 15%;
                margin: auto;
                margin-bottom: 1cm;

                &:hover{
                    transform: scale(1.15);
                }

                img {
                    position: absolute;
                    top: 5.5em;
                    left: -5rem;
                    margin: auto auto;
                    width: 150%;
                }

                &__nombre {
                    position: absolute;
                    top: 22rem;
                    left: 2.7rem;
                    width: 15rem;

                    h3 {
                        font-size: 2.7em;
                        margin: 0%;
                    }
                }

                &__precio {
                    top: 3.8rem;
                    left: 7.69rem;
                    transform: rotate(40deg);

                    h4 {
                        margin: 0%;
                        font-size: 2.7em;
                        padding: 0px 70px 0px 70px;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .main {
        &__title{
            font-size: 6em;
        }

        &__h2{
            font-size: 4.5em;
        }

        &__section__article2 {
            .LMV {
                width: 240px;
                height: 22rem;

                img {
                    top: 7.5em;
                    left: -4rem;
                    width: 135%;
                }

                &__nombre {
                    top: 16.84rem;
                    left: 2rem;
                    width: 10rem;

                    h3 {
                        font-size: 2em;
                    }
                }

                &__precio {
                    top: 2.86rem;
                    left: 3.58rem;
                    transform: rotate(35deg);

                    h4 {
                        font-size: 2em;
                        padding: 0px 60px 0px 60px;
                    }
                }
            }
        }
    }
}



/* Termina index y promos_2 */