/* Empieza locales */
main {
    .h-locals {
        height: 50vw;
    }

    .digital__a {
        padding: 0.3cm;
        background-color: white;
        &:hover {
            padding: 1.3cm;
            background-color: rgb(206, 203, 203);
            border-radius: 30%;

            img {
                border-radius: 30%;
            }
        }
    }
}

/* Media queries */

@media screen and (max-width: 1023px) {

    .locals {
        h2 {
            font-size: 1.2cm;
        }

        h3 {
            font-size: 0.8cm;
        }
    }
}

/* Termina locales */