/* Empieza locales */

.modal-body {
    iframe {
        height: 26vw;
    }
}

main {
    .h-locals {
        height: 50vw;
    }
    .section-locales {
        padding: 10%;

        .locales__button1 {
            transform: translateX(-25%);
        }

        .locales__button2 {
            transform: translateX(25%);
        }

        .BgDeLocales{
            background-size: cover;
            height: 60vw;
        }


        .charcas{
            background-image: url(../Images/charcas.jpg);
            @extend .BgDeLocales;
        }

        .mendoza{
            background-image: url(../Images/mendoza.jpg);
            @extend .BgDeLocales;
        }

        .iriarte{
            background-image: url(../Images/iriarte.jpg);
            @extend .BgDeLocales;
        }

        .moreno {
            background-image: url(../Images/moreno.jpg);
            @extend .BgDeLocales;
        }

        .laplata {
            background-image: url(../Images/laplata.jpg);
            @extend .BgDeLocales;
        }

        .cordoba {
            background-image: url(../Images/cordoba.jpg);
            @extend .BgDeLocales;
        }

        .locales {
            font-weight: bold;
            color: $secondary;
            margin: auto auto;
            border-radius: 20%;

            &__hover {
                display: none;
            }
            

            &:hover {
                .locales__hover {
                    display: block;
                    height: 100%;
                    width: 100%;
                    border-radius: 20%;
                    @include disp-flex(column, 10%, center, center);

                    &__btn {
                        font-family: 'Times New Roman', Times, serif;
                        font-size: 0.6cm;
                        color: $secondary;
                        border: 0.2cm white solid;
                        background-color: transparent;

                        &:hover {
                            background-color: rgba(0, 0, 0, 0.073);
                            transform: scale(1.2);
                        }
                    }

                }
            }
        }


    }

    .digital__a {
        padding: 0.3cm;
        background-color: $secondary;

        &:hover {
            padding: 5%;
            background-color: rgb(206, 203, 203);
            border-radius: 30%;

            img {
                border-radius: 30%;
            }
        }
    }
}

/* Media queries */

@media screen and (max-width: 1023px) {

    .locales {
        h2 {
            font-size: 1.2cm;
        }

        h3 {
            font-size: 0.8cm;
        }
    }
}

@media screen and (max-width: 720px) {

    .locales {
        h2 {
            font-size: 4vw;
        }

        h3 {
            font-size: 3.5vw;
        }
    }
}
@media screen and (max-width: 390px) {

    #d h2{
        font-size: 0.9cm;
    }
}
/* Termina locales */