/* Empieza nosotros */

.main {
    &__enlaces li {
        width: auto;
        text-transform: capitalizes;

        a {
            width: auto;

            &:hover {
                color: #817b7b;
            }
        }
    }

    &__section {
        border-bottom: solid black 0.1cm;
        background-color: rgba(0, 0, 0, 0.716);


        img {
            width: 44vw;
            margin-top: auto;
            margin-bottom: auto;
        }

        article {
            border-top: black solid 0.1cm;

            padding-top: 2%;
            padding-bottom: 2%;

            .section__texto {
                text-align: justify;
                font-family: monospace;
                font-size: 1.75vw;
                width: 44vw;
                height: 30%;
            }
        }
    }
}

/* Media queries */
@media screen and (max-width: 720px) {

    .main__section {
        img {
            border: $secondary solid 0.1cm;
        }

        article {
            padding: 1rem;
            column-gap: 10%;

            .section__texto {
                text-align: justify;
                font-family: monospace;
                font-size: 1.7vw;
            }
        }
    }


}

@media screen and (max-width: 550px) {
    .main__section {

        article {

            .section__texto {
                font-size: 2.2vw;
            }
        }
    }
}

/* Termina nosotros */