/* Empieza redes */
.main {

    .section__nets {
        @include disp-flex(row, 2cm, space-evenly, space-evenly, wrap);
        height: auto;
        margin: 0%;
        row-gap: 2cm;
        flex-wrap: wrap;

        .card {
            width: 21rem;
            border-radius: 10%;
            margin-left: auto;
            margin-right: auto;

            img {
                height: 224px;
                width: 80%;
            }

            h5 {
                font-size: 2em;
            }

            p {
                font-size: 1.3em
            }

            a {
                font-size: 2em
            }

            @include disp-flex(column, 10%, center, center);
        }
    }

    form {
        border-radius: 1%;

        .botons {
            @include disp-flex(row, 2cm, justify-content-center);
            display: block;

            .btn-enviar,
            .btn-reset {
                height: 1cm;
                font-size: 1.5em;
                margin-bottom: 0.1cm;
                margin-right: 0.4cm;
            }

        }
    }

    .btn-enviar,
    .btn-reset,
    .btn-red{
        position: relative;
        overflow: hidden;
    
        span {
            transition: transform 0.2s ease-out;
        }
    
        span:first-child {
            display: inline-block;
        }
    
        span:last-child {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateY(-1000%);
        }
    
        &:hover span:first-child {
            transform: translateY(1000%);
        }
    
        &:hover span:last-child {
            transform: translateY(0%);
            left: 40%;
            width: 20%;
            font-size: 1.5em;
        }
    }
}

/* Media queries */

@media screen and (max-width: 1023px) {
    main {
        .main__title--form {
            width: 80%;
            font-size: 8.6em;
            margin: 10% auto;
        }

        .section__nets {
            display: flex;
            display: grid;
            @include disp-grid(1fr 1fr, 1fr 1fr, space-evenly);
        }
    }
}

@media screen and (max-width: 720px) {

    .main {
        .section__nets {
            display: flex;
            @include disp-flex(column, 1cm, space-evenly, space-evenly);
            height: auto;

            .card {
                width: 18rem;

                img {
                    height: 11rem
                }

                h5 {
                    font-size: 1.7em;
                }

                p {
                    font-size: 1em
                }

                a {
                    font-size: 1.7em
                }
            }
        }
    }
}


/* Termina redes */